.container{
    /* border: 5px solid violet; */
    width: 30%;
}

.form{
    display: flex;
    margin: 10px 5px;
    gap:10px;
    
}

.form > input{
    flex: 4;
    height: 15px;
    padding: 10px;
    border: none;
    border: 5px solid violet;
    border-radius: 10px;
}

.form > button{
    flex: 1;
    
    margin-left: 5px;
}
.item {
    padding: 10px;
    display: flex;
    justify-content:space-between;
    border: 5px solid violet;
    border-radius: 10px;

}
.item > p {
    font-size: 1.3rem;
    font-weight: 700;
    
    margin-left: 10px;
}

.item > span{
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}
.item > span:hover{
    color: red; 
}